
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Todo Protegido SOS</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="~/Content/assetsBack/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Dashboard core CSS    -->
    <link href="~/Content/assetsBack/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/assetsBack/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/assetsBack/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <style>
        #legend {
            font-family: Arial, sans-serif;
            background: #fff;
            padding: 10px;
            margin: 10px;
            border: 3px solid #000;
        }

            #legend img {
                vertical-align: middle;
            }

        #soy {
            margin: 10px;
            background: #fff;
        }

        body {
            overflow: hidden;
        }
    </style>

</head>
<body>
    <!-------inicio barra lateral------->
    <div class="wrapper">
        <div class="sidebar" data-color="azure" data-image="../../assets/img/full-screen-image-3.jpg">
            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->

            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    TP
                </a>

                <a href="#" class="simple-text logo-normal">
                    Todo Protegido SOS
                </a>
            </div>

            <div class="sidebar-wrapper">
                <div class="user">

                    <div class="info">
                        @if (ViewBag.usuario != null)
                        {
                            <div class="photo">
                                <img src=@ViewBag.usuario.foto width="100%" height="100%" />
                            </div>

                            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                                <span>
                                    @ViewBag.usuario.nombre
                                    <b class="caret"></b>
                                </span>
                            </a>
                        }
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="~/usuariofron/editar_datos">
                                        <span class="sidebar-mini">MP</span>
                                        <span class="sidebar-normal">Mi Perfil</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    @RenderSection("SideBar", required: true)
                </ul>
            </div>
        </div>
        <!---------- fin barra lateral--------------->
        <div class="main-panel">
            <!------- barra superior inicio------->
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @RenderSection("nombreseccion", required: true)

                    </div>
                    @using (Html.BeginForm("cerrar_sesion", "usuariofron", FormMethod.Post))
                    {
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button type="submit" class="btn btn-link btn-simple text-danger">
                                        <i class="pe-7s-power"></i>
                                        Cerrar Sesión
                                    </button>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </nav>

            <!------- barra superior fin------->

            @if (ViewBag.da != null)
            {

                @RenderBody()
            }
            else
            {
                <div class="main-content">
                    <div class="container-fluid">



                        @RenderBody()

                    </div>
                </div>


                <footer class="footer">
                    <div class="container-fluid">


                        <p class="copyright pull-right">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script> <a href="@*http://www.creative-tim.com*@">Todo Protegido SOS</a>, lo mejor en seguridad
                        </p>
                    </div>
                </footer>
            }

        </div>
    </div>
</body>
<!--   Core JS Files  -->


<script src="~/Content/assetsBack/js/jquery.min.js"></script>

<script src="~/Content/assetsBack/js/bootstrap.min.js"></script>

<script src="~/Content/assetsBack/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Forms Validations Plugin -->
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->


<script src="~/Content/assetsBack/js/moment.min.js"></script>
<!--  Date Time Picker Plugin is included in this js file -->


<script src="~/Content/assetsBack/js/bootstrap-datetimepicker.min.js"></script>
<!--  Select Picker Plugin -->
<script src="~/Content/assetsBack/js/bootstrap-selectpicker.js"></script>

<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
<script src="~/Content/assetsBack/js/bootstrap-switch-tags.min.js"></script>

<!--  Charts Plugin -->
<script src="~/Content/assetsBack/js/chartist.min.js"></script>
<
<!--  Notifications Plugin    -->
<script src="~/Content/assetsBack/js/bootstrap-notify.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="~/Content/assetsBack/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->
<!--  Google Maps Plugin    -->
<!-- Wizard Plugin    -->
<script src="~/Content/assetsBack/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="~/Content/assetsBack/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->

<script src="assetsBack/js/jquery.datatables.js"></script>
<!--  Full Calendar Plugin    -->
<script src="~/Content/assetsBack/js/fullcalendar.min.js"></script>

<!-- Light Bootstrap Dashboard Core javascript and methods -->
<script src="~/Content/assetsBack/js/light-bootstrap-dashboard.js"></script>

<!--   Sharrre Library    -->
<script src="~/Content/assetsBack/js/jquery.sharrre.js"></script>

<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="~/Content/assetsBack/js/demo.js"></script>
@RenderSection("scripts", required: false)
</html>



