@using Proyecto.BO;
@model punto_peligrosoBO
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Todo Protegido SOS</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Canonical SEO -->
    <link rel="canonical" href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" />

    <!--  Social tags      -->
    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap dashboard, bootstrap, css3 dashboard, bootstrap admin, light bootstrap dashboard, frontend, responsive bootstrap dashboard">

    <meta name="description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful.">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Light Bootstrap Dashboard PRO by Creative Tim">
    <meta itemprop="description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful.">

    <meta itemprop="image" content="http://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg">
    <!-- Twitter Card data -->

    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="creativetim">
    <meta name="twitter:title" content="Light Bootstrap Dashboard PRO by Creative Tim">

    <meta name="twitter:description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful.">
    <meta name="twitter:creator" content="creativetim">
    <meta name="twitter:image" content="http://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg">
    <meta name="twitter:data1" content="Light Bootstrap Dashboard PRO by Creative Tim">
    <meta name="twitter:label1" content="Product Type">
    <meta name="twitter:data2" content="$29">
    <meta name="twitter:label2" content="Price">

    <!-- Open Graph data -->
    <meta property="og:title" content="Light Bootstrap Dashboard PRO by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://demos.creative-tim.com/light-bootstrap-dashboard-pro/examples/dashboard.html" />
    <meta property="og:image" content="http://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg" />
    <meta property="og:description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful." />
    <meta property="og:site_name" content="Creative Tim" />

    <!-- Bootstrap core CSS     -->
    <link href="~/Content/assetspuntos/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Dashboard core CSS    -->
    <link href="~/Content/assetspuntos/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/assetspuntos/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/assetspuntos/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCuiUJxL3eVPwCyGdf1P6g9TUQ4KW95YtA'></script>
    <script src="~/Content/assets/js/locationpicker.jquery.js"></script>





</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="orange" data-image="../../assets/img/full-screen-image-3.jpg">
            <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    TP
                </a>

                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    Todo Protegido SOS
                </a>
            </div>

            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="info">
                       @if (ViewBag.usuario != null)
                       {
                        <div class="photo">
                            <img src=@Url.Action("Imagen_usuario", "usuariofron" ,new {id=@ViewBag.usuario.id }) width="100%" height="100%" />
                        </div>

                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                @ViewBag.usuario.nombre
                                <b class="caret"></b>
                            </span>
                        </a>
                       }
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="~/usuariofron/editar_datos">
                                        <span class="sidebar-mini">MP</span>
                                        <span class="sidebar-normal">Mi Perfil</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="nav">
                    <li>
                        <a href="~/usuariofron/mis_puntos">
                            <i class="pe-7s-map"></i>
                            <p>Mapa</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-map-2 "></i>
                            <p>Agregar Puntos </p>
                        </a>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#tablesExamples">
                            <i class="pe-7s-map-marker"></i>
                            <p>
                                Mis puntos
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="tablesExamples">
                            <ul class="nav">
                                <li>
                                    <a href="~/usuariofron/Tablapuntousuario">
                                        <span class="sidebar-mini"><i class="pe-7s-graph1"></i></span>
                                        <span class="sidebar-normal">Ver información</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/usuariofron/puntos_usuario">
                                        <span class="sidebar-mini"><i class="pe-7s-map"></i></span>
                                        <span class="sidebar-normal">Ver en Mapa</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                   
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Agregar Puntos</a>
                    </div>
                    <div class="collapse navbar-collapse">

                      

                        <ul class="nav navbar-nav navbar-right">
                      

                            <li class="dropdown dropdown-with-icons">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-list"></i>
                                    <p class="hidden-md hidden-lg">
                                        More
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-with-icons">
                                  
                                    <li>
                                        <a href="/todo_pro/cerrar" class="text-danger">
                                            <i class="pe-7s-close-circle"></i>
                                            Cerrar Sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>



            <div class="main-content">
                @using (Html.BeginForm("Guardar_puntos", "usuariofron", FormMethod.Post, new { enctype = "multipart/form-data", UpdateTargetId = "sel_crimen" }))
                {
                    <div class="container-fluid">
                        <div class="form-group">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-wizard">
                                    <div class="header text-center">
                                        <h3 class="title">Hazle saber a la comunidad lo que has visto! </h3>
                                        <p class="category">Solo sigue los siguientes pasos y las indicaciones que se muestran y espera a que el administrador verifique tu punto S.O.S</p>
                                    </div>
                                    <div class="content">
                                        <ul class="nav">
                                            <li><a href="#tab1" data-toggle="tab">1-Selecciona una categoría</a></li>
                                            <li><a href="#tab2" id="siguiente2" data-toggle="tab">2-Ubicación</a></li>
                                            <li><a href="#tab3" data-toggle="tab">3-Descripción del punto</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="tab1">
                                                <h5 class="text-center">Antes de comenzar selecciona la categoría de tu punto S.O.S!</h5>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <center>
                                                            <img src="~/puntosimg/1.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "4", new { @name = "radio1", @id = "radio1" })
                                                               
                                                                <label for="radio1">
                                                                    Asalto de auto
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <center>

                                                            <img src="~/puntosimg/2.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "5", new { @name = "radio1", @id = "radio2" })
                                                                
                                                                <label for="radio2">
                                                                    Asalto de casa
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <center>
                                                            <img src="~/puntosimg/3.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "6", new { @name = "radio1", @id = "radio3" })
                                                                
                                                                <label for="radio3">
                                                                    Asalto de comercio
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <center>
                                                            <img src="~/puntosimg/4.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "7", new { @name = "radio1", @id = "radio4" })
                                                         
                                                                <label for="radio4">
                                                                    Asalto de persona
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <center>
                                                            <img src="~/puntosimg/actividad_sospechosa.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "8", new { @name = "radio1", @id = "radio5" })
                                                              
                                                                <label for="radio5">
                                                                    Actividad sospechosa
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <center>
                                                            <img src="~/puntosimg/5.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "9", new { @name = "radio1", @id = "radio6" })
                                                              
                                                                <label for="radio6">
                                                                    Homicidio
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <center>
                                                            <img src="~/puntosimg/6.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "1", new { @name = "radio1", @id = "radio7" })       
                                                                <label for="radio7">
                                                                    Otros
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <center>
                                                            <img src="~/puntosimg/7.png" style="width:100px; height:100px;" />
                                                            <div class="radio">
                                                                @Html.RadioButton("Gender", "10", new { @name = "radio1", @id = "radio8" })    
                                                                <label for="radio8">
                                                                    Vandalismo
                                                                </label>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab2">
                                                <h5 class="text-center">Ahora indica donde sucedió el incidente, puedes usar el marcador o bien utilizar el buscador.</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Zona</label>
                                                            @Html.HiddenFor(x => x.id)
                                                            @Html.HiddenFor(x => x.longitud)
                                                            @Html.HiddenFor(x => x.latitud)
                                                            @Html.TextBoxFor(x => x.zona, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <div id="ModalMapPreview" style="width:100%; height:300px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab3">
                                                <h5 class="text-center">Para finalizar indica la fecha en que sucedió, cuéntanos que paso o que acontece en el lugar, es NECESARIO que agregues un URL sobre alguna nota que se relacione con lo que pasa y/o alguna imagen como evidencia.  </h5>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-5 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label">Fecha</label>
                                                                    @Html.TextBoxFor(x => x.fecha, new { @type = "date", @class = "form-control" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label">Url de nota</label>
                                                                    @Html.TextBoxFor(x => x.nom_imagen, new { @type = "type", @class = "form-control", @url="true" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-10 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label">Descripción:</label>
                                                                    @Html.TextAreaFor(x => x.comentario, new { @class = "form-control", @style = "resize:none; height:260px; width:500px", @rows = "7", @cols = "60" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-1"></div>
                                                            <div class="col-md-10 ">
                                                                <div class="form-group">
                                                                    <center>
                                                                        <img style="width:390px;height:300px;border-radius: 25px;" id="img_destino" src="../Imagenes/image_placeholder.jpg" alt="Tu imagen">
                                                                        <br />
                                                                        <br />
                                                                        @Html.TextBoxFor(x => x.imagen, htmlAttributes: new { @type = "file", @name = "imagen" })
                                                                    </center>
                                                                    <br />
                                                                    <label class="control-label"><star>*</star>Si no cuentas con una imagen, no te preocupes puedes dejar este campo vacío.</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <button type="submit" class="btn btn-success btn-round btn-lg btn-fill btn-wd btn-finish pull-right" onclick="onFinishWizard()">Enviar</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="#">Todo Protegido SOS</a>, lo mejor en seguridad
                    </p>
                </div>
            </footer>


        </div>
    </div>
    <div class="fixed-plugin">
        <div class="dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title">Configuracion</li>

                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Minizar barra</p>
                        <input class="switch switch-sidebar-mini" type="checkbox" data-toggle="switch"
                               data-off-text="OFF"
                               data-on-text="ON" />
                        <div class="clearfix"></div>
                    </a>
                </li>

                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Filtros</p>
                        <div class="pull-right">
                            <span class="badge filter" data-color="black"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange active" data-color="orange"></span>
                            <span class="badge filter badge-red" data-color="red"></span>
                            <span class="badge filter badge-purple" data-color="purple"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>






            </ul>
        </div>
    </div>


   

</body>

<!--   Core JS Files  -->
@*<script src="~/Content/assetspuntos/js/jquery.min.js"></script>*@
<script src="~/Content/assetspuntos/js/bootstrap.min.js"></script>
<script src="~/Content/assetspuntos/js/perfect-scrollbar.jquery.min.js"></script>


<!--  Forms Validations Plugin -->
<script src="~/Content/assetspuntos/js/jquery.validate.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="~/Content/assetspuntos/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="~/Content/assetspuntos/js/bootstrap-datetimepicker.min.js"></script>

<!--  Select Picker Plugin -->
<script src="~/Content/assetspuntos/js/bootstrap-selectpicker.js"></script>
<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
<script src="~/Content/assetspuntos/js/bootstrap-switch-tags.min.js"></script>
<!--  Charts Plugin -->
<script src="~/Content/assetspuntos/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/Content/assetspuntos/js/bootstrap-notify.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="~/Content/assetspuntos/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->

<!--  Google Maps Plugin    -->


<!-- Wizard Plugin    -->
<script src="~/Content/assetspuntos/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="~/Content/assetspuntos/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->
<script src="~/Content/assetspuntos/js/jquery.datatables.js"></script>

<!--  Full Calendar Plugin    -->
<script src="~/Content/assetspuntos/js/fullcalendar.min.js"></script>
<!-- Light Bootstrap Dashboard Core javascript and methods -->
<script src="~/Content/assetspuntos/js/light-bootstrap-dashboard.js"></script>
<!--   Sharrre Library    -->
<script src="~/Content/assetspuntos/js/jquery.sharrre.js"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="~/Content/assetspuntos/js/demo.js"></script>
 



<script>
    $("#siguiente2").click(function () {
        setTimeout(function () {
            $("#ModalMapPreview").load(mapa());
        }, 500);
    });


    function mapa() {
        $('#ModalMapPreview').locationpicker({
            radius: 0,
            location: {
                latitude: 20.967778,
                longitude: -89.621667
            },
            inputBinding: {
                latitudeInput: $('#latitud'),
                longitudeInput: $('#longitud'),
                locationNameInput: $('#zona')
            },
            enableAutocomplete: true


        });
    }
  


</script>


<script type="text/javascript">
    (function () {
        $('#sel_crimen').load('/usuariofron/peligros');
    }());
        $().ready(function(){

			// Code for the Validator
	        var $validator = $('.card-wizard form').validate({
	    		  rules: {
	    		    firstname: {
	    		      required: true,
	    		      minlength: 3
	    		    },
	    		    lastname: {
	    		      required: true,
	    		      minlength: 3
	    		    },
	    		    email: {
	    		      required: true,
	    		      minlength: 3,
	    		    }
	            },

				 highlight: function(element) {
	                $(element).parent().addClass('has-error').removeClass('has-success');
	             },
	             success: function(element) {
	                $(element).parent().addClass('has-success').removeClass('has-error');
	             }
	    	});

	        // Wizard Initialization
	        $('.card-wizard').bootstrapWizard({
	            'tabClass': 'nav nav-pills',
	            'nextSelector': '.btn-next',
	            'previousSelector': '.btn-previous',

	            onNext: function(tab, navigation, index) {
	            	var $valid = $('.card-wizard form').valid();
	            	if(!$valid) {
	            		$validator.focusInvalid();
	            		return false;
	            	}
	            },

	            onInit : function(tab, navigation, index){
	                //check number of tabs and fill the entire row
	                var $total = navigation.find('li').length;
	                var $wizard = navigation.closest('.card-wizard');



	                refreshAnimation($wizard, index);

	                $('.moving-tab').css('transition','transform 0s');
	           },

	            onTabClick : function(tab, navigation, index){
	                var $valid = $('.card-wizard form').valid();

	                if(!$valid){
	                    return false;
	                } else{
	                    return true;
	                }
	            },

	            onTabShow: function(tab, navigation, index) {
	                var $total = navigation.find('li').length;
	                var $current = index+1;

	                var $wizard = navigation.closest('.card-wizard');

	                // If it's the last tab then hide the last button and show the finish instead
	                if($current >= $total) {
	                    $($wizard).find('.btn-next').hide();
	                    $($wizard).find('.btn-finish').show();
	                } else {
	                    $($wizard).find('.btn-next').show();
	                    $($wizard).find('.btn-finish').hide();
	                }

	                var checkbox = $('.footer-checkbox');

	                if( !index == 0 ){
	                    $(checkbox).css({
	                        'opacity':'0',
	                        'visibility':'hidden',
	                        'position':'absolute'
	                    });
	                } else {
	                    $(checkbox).css({
	                        'opacity':'1',
	                        'visibility':'visible'
	                    });
	                }

	                refreshAnimation($wizard, index);
	            }
	      	});


	        // Prepare the preview for profile picture
	        $("#wizard-picture").change(function(){
	            readURL(this);
	        });

	        $('[data-toggle="wizard-radio"]').click(function(){
	            wizard = $(this).closest('.card-wizard');
	            wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
	            $(this).addClass('active');
	            $(wizard).find('[type="radio"]').removeAttr('checked');
	            $(this).find('[type="radio"]').attr('checked','true');
	        });

	        $('[data-toggle="wizard-checkbox"]').click(function(){
	            if( $(this).hasClass('active')){
	                $(this).removeClass('active');
	                $(this).find('[type="checkbox"]').removeAttr('checked');
	            } else {
	                $(this).addClass('active');
	                $(this).find('[type="checkbox"]').attr('checked','true');
	            }
	        });

	        $('.set-full-height').css('height', 'auto');

	         //Function to show image before upload

	        function readURL(input) {
	            if (input.files && input.files[0]) {
	                var reader = new FileReader();

	                reader.onload = function (e) {
	                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
	                }
	                reader.readAsDataURL(input.files[0]);
	            }
	        }

	        $(window).resize(function(){
	            $('.card-wizard').each(function(){
	                $wizard = $(this);

	                index = $wizard.bootstrapWizard('currentIndex');
	                refreshAnimation($wizard, index);

	                $('.moving-tab').css({
	                    'transition': 'transform 0s'
	                });
	            });
	        });

	        function refreshAnimation($wizard, index){
	            $total = $wizard.find('.nav li').length;
	            $li_width = 100/$total;

	            total_steps = $wizard.find('.nav li').length;
	            move_distance = $wizard.width() / total_steps;
	            index_temp = index;
	            vertical_level = 0;

	            mobile_device = $(document).width() < 600 && $total > 3;

	            if(mobile_device){
	                move_distance = $wizard.width() / 2;
	                index_temp = index % 2;
	                $li_width = 50;
	            }

	            $wizard.find('.nav li').css('width',$li_width + '%');

	            step_width = move_distance;
	            move_distance = move_distance * index_temp;

	            $current = index + 1;

	            if($current == 1 || (mobile_device == true && (index % 2 == 0) )){
	                move_distance -= 8;
	            } else if($current == total_steps || (mobile_device == true && (index % 2 == 1))){
	                move_distance += 8;
	            }

	            if(mobile_device){
	                vertical_level = parseInt(index / 2);
	                vertical_level = vertical_level * 38;
	            }

	            $wizard.find('.moving-tab').css('width', step_width);
	            $('.moving-tab').css({
	                'transform':'translate3d(' + move_distance + 'px, ' + vertical_level +  'px, 0)',
	                'transition': 'all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1)'

	            });
	        }

        });

        function onFinishWizard(){
            //here you can do something, sent the form to server via ajax and show a success message with swal

            swal("Punto Enviado!", "Ahora solo espera que el administrador lo verifique ", "success");
        }


     
</script>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_destino').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imagen").change(function () {
        mostrarImagen(this);
    });
</script>

</html>
