@using Proyecto.BO
@model usuarioBO
@{
    ViewBag.Title = "editar_datos";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}
@section nombreseccion{<a class="navbar-brand" href="#">Mapa</a>}  

@section SideBar{
    <li>

        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-news-paper"></i>
            <p>
                Puntos de peligro
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>

                    <a href="~/usuariofron/puntos">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Agregar puntos</span>
                    </a>
                </li>
                <li class="active">
                    <a href="~/usuariofron/mis_puntos">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Todos los puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/usuariofron/puntos_usuario">
                        <span class="sidebar-mini">OD</span>
                        <span class="sidebar-normal">Mis puntos</span>
                    </a>
                </li>



            </ul>
        </div>
    </li>

    @*<li>
            <a href="~/usuariofron/miscontactos">
                <i class="pe-7s-graph"></i>
                <p>Mis Contactos</p>
            </a>
        </li>*@


    @*<li>
            <a href="~/usuariofron/mensajes">
                <i class="pe-7s-graph"></i>
                <p>Mensajes</p>
            </a>
        </li>*@

}
@using (Html.BeginForm("editar_datos_usuario", "usuariofron", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Perfil de administrador</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        <form>
                            @Html.HiddenFor(x => x.id)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Correo Electronico</label>
                                        @Html.TextBoxFor(x => x.correo, new { @class = "form-control disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Numero Telefonico</label>
                                        @Html.TextBoxFor(x => x.telefono, new { @class = "form-control disabled" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        @Html.TextBoxFor(x => x.fecha, new { @class = "form-control disabled", @type = "date" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        @Html.DropDownListFor(x => x.sexo, new List<SelectListItem> { new SelectListItem { Text = "Selecciona", Value = "1", Disabled = true }, new SelectListItem { Text = "Femenino", Value = "Femenino" }, new SelectListItem { Text = "Masculino", Value = "Masculino" } }, htmlAttributes: new { @class = "selectpicker", data_style = "btn-default btn-block", data_size = "7", @data_menu_style = "dropdown-blue", @title = "Sexo" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="image">
                                </div>
                                <div class="content">
                                    <div class="author">

                                        <img class="avatar border-gray" style="width:190px; height:190px;" id="img_destino" src="@Url.Action("Imagen_usuario", "usuariofron", new { id = @ViewBag.usuario.id })" />
                                        <div class="col-md-offset-2 col-md-10">
                                            @Html.TextBoxFor(model => model.foto, htmlAttributes: new { @type = "file", @name = "foto", @style = "width:200px;" })
                                        </div>
                                        <h5 class="title">
                                            <br />
                                            <small>Foto de perfil</small>
                                        </h5>

                                    </div>

                                </div>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-fill pull-left">Guardar cambios</button>

                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
}
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_destino').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#foto").change(function () {
        mostrarImagen(this);
    });
</script>