@using Proyecto.BO
@model usuarioBO
@{
    ViewBag.Title = "editar_datos";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}
@section nombreseccion{<a class="navbar-brand" href="#">Mi perfil </a>}

@section SideBar{
    <li>
        <a href="~/usuariofron/mis_puntos">
            <i class="pe-7s-map"></i>
            <p>Mapa</p>
        </a>
    </li>
    <li>
        <a href="~/usuariofron/CrearPuntos">
            <i class="pe-7s-map-2 "></i>
            <p>Agregar Puntos </p>
        </a>
    </li>

    <li>
        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-map-marker"></i>
            <p>
                Mis puntos
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>
                    <a href="~/usuariofron/Tablapuntousuario">
                        <span class="sidebar-mini"><i class="pe-7s-graph1"></i></span>
                        <span class="sidebar-normal">Ver información</span>
                    </a>
                </li>
                <li>
                    <a href="~/usuariofron/puntos_usuario">
                        <span class="sidebar-mini"><i class="pe-7s-map"></i></span>
                        <span class="sidebar-normal">Ver en Mapa</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
}





@using (Html.BeginForm("editar_datos", "usuariofron", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Datos de la cuenta</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form>
                            @Html.HiddenFor(x => x.id)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        @Html.TextBoxFor(x => x.nombre, htmlAttributes: new { @class = "form-control", @id = "txt_nombre" })
                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        @Html.TextBoxFor(x => x.apellido, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Correo Electronico</label>
                                        @Html.TextBoxFor(x => x.correo, new { @class = "form-control disabled", @placeholder="Ejem: protegido@outlook.com", @disabled="" })
                                        @Html.TextBoxFor(x => x.correo, new { @class = "form-control disabled", @placeholder = "Ejem: protegido@outlook.com", @style = "display:none" })
                                        @Html.TextBoxFor(x => x.contraseña, new { @class = "form-control disabled", @placeholder = "Ejem: protegido@outlook.com", @style = "display:none" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Número telefónico</label>
                                        @Html.TextBoxFor(x => x.telefono,htmlAttributes: new { @class = "form-control disabled", @placeholder="(222)" })
                                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        @Html.TextBoxFor(x => x.mensajecontacto1,htmlAttributes: new { @class = "form-control disabled", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.mensajecontacto1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        @Html.DropDownListFor(x => x.sexo, new List<SelectListItem> { new SelectListItem { Text = "Selecciona", Value = "1", Disabled = true }, new SelectListItem { Text = "Femenino", Value = "Femenino" }, new SelectListItem { Text = "Masculino", Value = "Masculino" } }, htmlAttributes: new { @class = "selectpicker", data_style = "btn-default btn-block", data_size = "7", @data_menu_style = "dropdown-blue", @title = "Sexo" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="image">
                                </div>
                                <div class="content">
                                    <div class="author">

                                        <img class="avatar border-gray" style="width:190px; height:190px;" id="img_destino" src="@Url.Action("Imagen_usuario", "usuariofron", new { id = @ViewBag.usuario.id })" />
                                        <div class="col-md-offset-2 col-md-10">
                                            @Html.TextBoxFor(model => model.foto, htmlAttributes: new { @type = "file", @name = "foto", @style = "width:200px;" })
                                        </div>
                                        <h5 class="title">
                                            <br />
                                            <small>Foto de perfil</small>
                                        </h5>

                                    </div>

                                </div>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-round btn-lg btn-success btn-fill pull-center">Realizar cambios</button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                  
                </div>
            </div>

        </div>
    </div>


</div>
}
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_destino').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#foto").change(function () {
        mostrarImagen(this);
    });
</script>