@using Proyecto.BO;
@model punto_peligrosoBO
@{
    ViewBag.Title = "puntos";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}


@section SideBar{
    <li >
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mis Perfil</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mis Contactos</p>
        </a>
    </li>
    <li class="active">
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>@Html.ActionLink("Agregar puntos", "puntos", "usuariofron")</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Perfil</p>
        </a>
    </li>
}
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCuiUJxL3eVPwCyGdf1P6g9TUQ4KW95YtA'></script>

<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="~/Content/assets/js/locationpicker.jquery.js"></script>



<div class="card">
    <div class="header">
        <h3  class="title cen">Edit Profile</h3>
    </div>
@using (Ajax.BeginForm("Guardar_puntos", "usuariofron", new AjaxOptions {  HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sel_crimen", OnSuccess = "limpiar()" }))
{
    <div class="content">
        <form>



            @Html.HiddenFor(x=>x.id)
            @Html.HiddenFor(x => x.longitud)
            @Html.HiddenFor(x => x.latitud)

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Crimen</label>
                      <!-- <div id="sel_crimen"></div>-->
                        @Html.TextBoxFor(x => x.id_peligro_tipo, new {  @class = "form-control" })
                     
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha</label>

                        @Html.TextBoxFor(x => x.fecha, new { @type = "date", @class = "form-control" })
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Comentario</label>
                        @Html.TextAreaFor(x => x.comentario, new { @class = "form-control", @cols = "20", @rows = "20",
                       @style =" margin: 0px - 4.5px 0px 0px; height: 319px; width: 536px;"                        })


                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Evidencia</label>
                        @Html.TextBoxFor(x => x.imagen, new { @type = "file" })
                        <img style="width:500px;height:300px;" id="img_destino" src="../imagenes/delitoa.jpg" alt="Tu imagen">
                       
                    </div>
                </div>
            </div>

          <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Zona</label>
                        @Html.TextBoxFor(x => x.zona, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                        <div class="form-group">
                            <div id="ModalMapPreview" style="width:100%; height:300px;"></div>
                        </div>


                        <button type="submit" class="btn btn-info btn-fill pull-left">Guardar</button>
           
         
            <div class="clearfix"></div>
        </form>
    </div>
}
</div>

    


<script>
    (function () {
        $('#sel_crimen').load('/usuariofron/peligros');
    }()    );
        $('#ModalMapPreview').locationpicker({
            radius: 0,
            location: {
                latitude: $('#longitud').val(),
                longitude: $('#latitud').val()
            },
            inputBinding: {
                latitudeInput: $('#latitud'),
                longitudeInput: $('#longitud'),
                locationNameInput: $('#zona')
            },
            enableAutocomplete: true


        });





    

</script>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_destino').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imagen").change(function () {
        mostrarImagen(this);
    });
</script>
<script>
    function llenardatos(id, id_peligro, longitud, latitud, zona, fecha, imagen, imagen_nom, comentario) {
        $('#id').val(id);
        $('#longitud').val(id_peligro);
        $('#latitud').val(distribuidor);
        $('#id_peligro_tipo').val(precio);
        $('#fecha').val(id);
        $('#comentario').val(id_peligro);
        $('#imagen').val(distribuidor);
       

    }
</script>
