@using Proyecto.BO;
@model punto_peligrosoBO
@{
    ViewBag.Title = "puntos";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
@*<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@
<script type="text/javascript" src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCuiUJxL3eVPwCyGdf1P6g9TUQ4KW95YtA'></script>
<script src="~/Content/assets/js/locationpicker.jquery.js"></script>


  

@section SideBar{
    <li class="active">

        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-news-paper"></i>
            <p>
                Puntos de peligro
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li class="active">

                    <a href="~/usuariofron/puntos">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Agregar puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/usuariofron/mis_puntos">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Todos los puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/usuariofron/puntos_usuario">
                        <span class="sidebar-mini">OD</span>
                        <span class="sidebar-normal">Mis puntos</span>
                    </a>
                </li>



            </ul>
        </div>
    </li>

    @*<li>
        <a href="~/usuariofron/miscontactos">
            <i class="pe-7s-graph"></i>
            <p>Mis Contactos</p>
        </a>
    </li>*@


    @*<li>
            <a href="~/usuariofron/mensajes">
                <i class="pe-7s-graph"></i>
                <p>Mensajes</p>
            </a>
        </li>*@

}



<div class="card">
  
    <div class="header">
     
   
 

    @using (Html.BeginForm("Guardar_puntos", "usuariofron", FormMethod.Post, new { enctype = "multipart/form-data", UpdateTargetId = "sel_crimen" }))
    {


    <div class="content">
        
        <form>


            @Html.HiddenFor(x => x.id)

            @Html.HiddenFor(x => x.longitud)
            @Html.HiddenFor(x => x.latitud)

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Crimen</label>
                        <div id="sel_crimen"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha</label>

                        @Html.TextBoxFor(x => x.fecha, new { @type = "date", @class = "form-control" })
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Comentario</label>
                        @Html.TextAreaFor(x => x.comentario, new
                   {
                       @class = "form-control",
                       @cols = "20",
                       @rows = "20",
                       @style = " margin: 0px - 4.5px 0px 0px; height: 319px; width: 536px;"
                   })


                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Evidencia</label>
                        @Html.TextBoxFor(x => x.imagen, htmlAttributes: new { @type = "file", @name = "imagen" })
                        <img style="width:500px;height:300px;" id="img_destino" src="../imagenes/delitoa.jpg" alt="Tu imagen">
                       
                    </div>
                </div>
            </div>

          <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Zona</label>
                        @Html.TextBoxFor(x => x.zona, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                        <div class="form-group">
                            <div id="ModalMapPreview" style="width:100%; height:300px;"></div>
                        </div>

           
                        <button type="submit" class="btn btn-info btn-fill pull-left" >Guardar</button>
           
           
            <div class="clearfix"></div>
        </form>
    </div>
    }
</div>

<script>
    (function () {
        $('#sel_crimen').load('/usuariofron/peligros');
    }());
</script>

<script>
    
        $('#ModalMapPreview').locationpicker({
            radius: 0,
            location: {
                latitude: $('#longitud').val(),
                longitude: $('#latitud').val()
            },
            inputBinding: {
                latitudeInput: $('#latitud'),
                longitudeInput: $('#longitud'),
                locationNameInput: $('#zona')
            },
            enableAutocomplete: true


        });





    

</script>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_destino').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imagen").change(function () {
        mostrarImagen(this);
    });
</script>
<script>

    (function () {
        $('#vista').load('/usuariofron/parcial');
    }());
    function eliminar(id) {
        $.ajax({
            url: 'eliminar/',
            data: { id: id },


        }).done(function () {
            $('#vista').load('/usuariofron/parcial')
        }
        )
    }
    function llenardatos(id, id_peligro, zona, fecha, comentario) {
        //var dt = new date();
      // fecha.format("dd-mmm-yyyy");
        $('#id').val(id);
        $('#idpeligro').val(id_peligro);
        //$('#longitud').val(longitud);
        //$('#latitud').val(latitud); longitud, latitud,
        $('#zona').val(zona);
        alert(fecha);
        $('#fecha').val(fecha);
        $('#comentario').val(comentario);
     

    }
</script>
