@using Proyecto.BO
@model usuarioBO

@{
    ViewBag.Title = "EditarPerfilAdmin";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li >
                <a href="@Url.Action("PerfilAdmin", "VBackend")">
                    <span class="sidebar-mini">MP</span>
                    <span class="sidebar-normal">Perfil</span>
                </a>
            </li>

            <li class="active">
                <a href="#">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>

            <li>
                <a href="#pablo">
                    <span class="sidebar-mini">S</span>
                    <span class="sidebar-normal">Settings</span>
                </a>
            </li>
        </ul>
    </div>
}


@section SideBar{
    <li>
        <a>
            <i class="pe-7s-graph"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>
        <a id="enlaceajax" href="@Url.Action("Vprueba", "VBackend")">
            <i class="pe-7s-graph"></i>
            <p>Gestion puntos</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Gestión de vistas</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Gestión de Actividad</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mensajes</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Reportes</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>backup</p>
        </a>
    </li>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Perfil de administrador</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control"})

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        @Html.TextBoxFor(x => x.apellido, new { @class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Correo Electronico</label>
                                        @Html.TextBoxFor(x => x.correo, new { @class = "form-control disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Numero Telefonico</label>
                                        @Html.TextBoxFor(x => x.telefono, new { @class = "form-control disabled"})
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        @Html.TextBoxFor(x => x.fecha, new { @class = "form-control disabled" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        @Html.TextBoxFor(x => x.sexo, new { @class = "form-control disabled" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="image">
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <a href="#">
                                            <img class="avatar border-gray" src="@Url.Action("convertirImagen", "VBackend")" />

                                            <h5 class="title">
                                                <br />
                                                <small>Foto de perfil</small>
                                            </h5>
                                        </a>
                                    </div>

                                </div>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>



