
@model List<Proyecto.BO.punto_peligrosoBO>
<div class="table-responsive">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <div class="fresh-datatables">


                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align:left;">ID</th>
                                <th style="width:150px;text-align:left;">Zona</th>
                                <th style="width:150px;text-align:left;">comentario</th>
                                <th style="width:150px;text-align:left;">fecha</th>

                                <th style="width:150px;text-align:left;">tipo de peligro</th>
                                <th style="width:200px;">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var u in Model)
            {
                                <tr>
                                    <td>@u.id</td>

                                    <td style="width:150px;text-align:left;">@u.zona</td>
                                    <td style="width:150px;text-align:left;">@u.nombre_usuario</td>
                                    <td style="width:150px;text-align:left;">@u.fecha</td>
                                    <td style="width:150px;text-align:left;">@u.tipo_peligro</td>


                                    <td style="width:200px;">
                                        <a title="Eliminar" onclick="actualizar_apro(@u.id)" style="cursor:pointer">Desaprovar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>