@model List<Proyecto.BO.PeligroBO>
<div class="content table-full-width"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:left;">ID</th>
            <th style="width:150px;text-align:left;">peligro</th>
           
            <th style="width:300px;">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.id</td>

                <td style="width:150px;text-align:left;">@u.tipo</td>
            


                <td style="width:300px;">
                    @*<a title="Eliminar" onclick="eliminar(@u.id)" style="cursor:pointer">eliminar</a>*@
                    <a href="#" onclick="llenardatos('@u.id','@u.tipo')" style="cursor:pointer" class="btn btn-simple btn-warning btn-icon edit"><i class="fa fa-edit"></i></a>
                    <a href="#"  onclick="eliminar(@u.id)" style="cursor:pointer" class="btn btn-simple btn-danger btn-icon remove"><i class="fa fa-times"></i></a>
                    @*<a title="Eliminar"  onclick="llenardatos('@u.id','@u.tipo')" style="cursor:pointer">actualizar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


