@using Proyecto.BO
@model usuarioBO
@{
    ViewBag.Title = "PerfilAdmin";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}
@*@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li class="active">
                <a href="@Url.Action("EditarPerfilAdmin", "VBackend")">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>
        </ul>
    </div>
}*@

@section SideBar{
    <li>
        <a href="~/VBackend/estadisticas">
            <i class="pe-7s-graph"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>


        <a href="~/VBackend/Mapa_admin">
            <i class="pe-7s-graph"></i>
            <p>Mapa</p>
        </a>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-news-paper"></i>
            <p>
                Gestion de Puntos
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>
                    <a href="~/VBackend/aprovados">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Aprovar Puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/no_aprovados">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Puntos Aprovados</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/tiposdepeligro">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Tipos De delitos</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples1">
            <i class="pe-7s-news-paper"></i>
            <p>
                Configuración
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples1">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/ConfiguracionIndex">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Index</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/listadeusuarios">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Lista de usuarios</span>
                    </a>
                </li>

                <li>
                    <a href="~/VBackend/Backud">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Backup</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples2">
            <i class="pe-7s-news-paper"></i>
            <p>
                Mensajeria
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples2">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/mensajes">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Mensajes</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/buzon_de_sugerencias">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Buzón de Sugerencias</span>
                    </a>
                </li>


            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples3">
            <i class="pe-7s-news-paper"></i>
            <p>
                Reportes
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples3">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/Reporte_peligros">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Reporte de peligros </span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/reporte_usuarios">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Reporte de usuarios</span>
                    </a>
                </li>


            </ul>
        </div>
    </li>

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Perfil de administrador</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control"})

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Correo Electronico</label>
                                        @Html.TextBoxFor(x => x.correo, new { @class = "form-control disabled"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Numero Telefonico</label>
                                        @Html.TextBoxFor(x => x.telefono, new { @class = "form-control disabled" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        @Html.TextBoxFor(x => x.fecha, new { @class = "form-control disabled", @type="date" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        @Html.DropDownListFor(x => x.sexo, new List<SelectListItem> { new SelectListItem { Text = "Selecciona", Value = "1", Disabled = true }, new SelectListItem { Text = "Femenino", Value = "Femenino" }, new SelectListItem { Text = "Masculino", Value = "Masculino" } }, htmlAttributes: new { @class = "selectpicker", data_style = "btn-default btn-block", data_size = "7", @data_menu_style = "dropdown-blue", @title = "Sexo" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="image">
                                </div>
                                <div class="content">
                                    <div class="author">
                                        
                                            <img class="avatar border-gray" style="width:190px; height:190px;"  id="img_perfil" src="@Url.Action("convertirImagen", "VBackend")"/>
                                            <div class="col-md-offset-2 col-md-10">
                                                @Html.TextBoxFor(model => model.foto, htmlAttributes: new { @type = "file", @name = "foto", @style = "width:200px;" })
                                            </div>
                                            <h5 class="title">
                                                <br />
                                                <small>Foto de perfil</small>
                                            </h5>
                                       
                                    </div>

                                </div>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>


<script>
    function mostrarfoto(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_perfil').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#foto").change(function () {
        mostrarfoto(this);
    });
</script>

