@using Proyecto.BO;
@model usuarioBO
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Todo Protegido SOS</title>

    <script src="~/Content/assetsPRO/js/jquery-3.1.1.min.js"></script>


    <script src="~/Content/assetsPRO/js/countUp.min.js"></script>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!-- Canonical SEO -->
    <link rel="canonical" href="http://www.creative-tim.com/product/material-kit-pro" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/Content/assetsPRO/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assetsPRO/css/material-kit.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/assetsPRO/css/vertical-nav.css" rel="stylesheet" />
    <link href="~/Content/assetsPRO/css/demo.css" rel="stylesheet" />
    <link href="~/Content/modo.css" rel="stylesheet" />

    


</head>

<body class="index-page">
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll=" " id="sectionsNav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
                <ul class="nav navbar-nav navbar-left">
                   
                    <li class="dropdown nav-item">
                        <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
                            <div class="profile-photo-small">
                                <img src="~/Imagenes/logosos.png" alt="Circle Image" class="img-circle img-fluid">
                            </div>
                        </a>
                    </li>
                    <li></li>
                </ul>
                <a class="navbar-brand">Todo Protegido SOS</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("IndexPro", "todo_pro")">
                            <i class="material-icons">person_add</i> Registrate
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#" data-target="#loginModal">
                            <i class="material-icons">person</i> Iniciar sesión
                        </a>
                    </li>
                    @*<li class="dropdown nav-item">
                        <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
                            <div class="profile-photo-small">
                                <img src=@Url.Action("obtenern3", "VBackend")  alt="Circle Image" class="img-circle img-fluid">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="@Url.Action("IndexPro", "todo_pro")" class="dropdown-header">Cerrar sesión</a>
                           
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header"  filter-color="blue" data-parallax="true" >
            <div  id="carousel">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Carousel Card -->
                            <div class="card card-raised card-carousel fade-carousel" style="width:auto; height:auto;" data-interval="1000000">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <div class="carousel slide" data-ride="carousel">

                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                    <img src="@Url.Action("obtenerbanner", "VBackend")"  alt="Awesome Image">
                                                <div class="hero">
                                                    <hgroup class="row"> 
                                                        <div class="col-md-6 text-left" >
                                                            <h1 class="title-container">Todo Protegido SOS</h1>
                                                            <h4>Has saber a los tuyos y a los demás que sucede a tu alrededor!</h4>
                                                            <br>
                                                        </div>
                                                    </hgroup> 
                                                </div>
                                            </div>
                                            <div class="item " filter-color="info">
                                                <img src="@Url.Action("obtenerizque", "VBackend")" alt="Awesome Image">
                                                <div class="hero">
                                                    <hgroup class="row">
                                                        
                                                      
                                                        <div class="col-md-12 text-center">
                                                            <img src="~/Imagenes/logosos.png" style="width:200px; height:200px" />
                                                            <h2 class="title">Indica a los demás que sucede en tu vecindario</h2>
                                                            <h4> <strong>Inicia sesión para comenzar</strong></h4>
                                                            <button class="btn btn-danger btn-round" data-toggle="modal" data-target="#loginModal">Iniciar sesión</button>
                                                        </div>
                                                       
                                                    </hgroup>
                                                    
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="@Url.Action("obtenerdere", "VBackend")" alt="Awesome Image">
                                                <div class="hero">
                                                    <hgroup class="row">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4 text-left">
                                                            <h1 style="font-size:60px">Forma parte de este proyecto</h1>
                                                            <h3>Haz clic en el siguiente botón para registrarte</h3>
                                                            <center>
                                                                <a href="@Url.Action("IndexPro", "todo_pro")" class="btn btn-danger btn-round ">
                                                                    <i class="material-icons">person_add</i> Registrarse
                                                                </a>
                                                            </center>
                                                            
                                                        </div>
                                                      
                                                    </hgroup>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                            <i class="material-icons">keyboard_arrow_left</i>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                            <i class="material-icons">keyboard_arrow_right</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Carousel Card -->
                        </div>
                    </div>
            </div>
    </div>




    <div class="main main-raised">
        <div class="cards">
            <div class="container">
                <div class="title"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="title">
                            <center><h2 class="title">@(Model.titulopresentacion)</h2></center>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-content">
                            <p class="text-muted">@Html.Raw(Model.textopresentacion)</p>
                            <center>
                                <h4 class="title">Así que únete hoy mismo y se parte de este gran proyecto!!!</h4>
                                <a  href="@Url.Action("IndexPro", "todo_pro")" class="btn btn-danger btn-round">
                                    <i class="material-icons">person_add</i> Registrarse
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="features-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <br />
                                    <br />
                                    <br />
                                    <div id="map" class="img img-raised" style="width:450px; height:550px "></div>
                                    <script>
                                        var markers;
                                        $.ajax({
                                            url: "/todo_pro/devolverpuntos",
                                            success: function (data) {
                                                var array = []
                                                for (var i = 0; i < data.length; i++) {
                                                    array.push([data[i]["punton"], data[i]["x"], data[i]["y"], data[i]["id"]])
                                                }
                                                markers = array;

                                                initMap();
                                            }

                                        })
                                        var image = {
                                            url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                                            // This marker is 20 pixels wide by 32 pixels high.
                                            size: new google.maps.Size(40, 52),
                                            // The origin for this image is (0, 0).
                                            origin: new google.maps.Point(0, 0),
                                            // The anchor for this image is the base of the flagpole at (0, 32).
                                            anchor: new google.maps.Point(0, 32)
                                        };
                                       
                                          function initMap() {
                                              var myOptions = {
                                                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                                                  mapTypeControl: false,
                                                  disableDefaultUI: true,
                                                  zoom:3,
                                                  center: {lat:  20.967778, lng:  -89.621667},
                                                

                                              };
                                              var map = new google.maps.Map(document.getElementById("map"), myOptions);
                                            
                                              var marker, i;
                                              var bounds = new google.maps.LatLngBounds();

     
                                          


                                              for (i = 0; i < markers.length; i++) {
                                                  if (markers[i][3] == 11)
                                                      //robo
                                                  {
                                                      image = "../puntosimg/112.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  else if (markers[i][3] == 4)//asalto de auto
                                                  {
                                                      image = "../puntosimg/42.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  else if (markers[i][3] == 5) {//asaldo de casa
                                                      image = "../puntosimg/52.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  else if (markers[i][3] == 6) {//asalro de comercio
                                                      image = "../puntosimg/62.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  else if (markers[i][3] == 7) {//asalro de persona
                                                      image = "../puntosimg/72.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  else if (markers[i][3] == 8) {//actividad sospechopsa
                                                      image = "../puntosimg/82.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  else if (markers[i][3] == 9) {//homicidio
                                                      image = "../puntosimg/92.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  else if (markers[i][3] == 10) {//vandalismo
                                                      image = "../puntosimg/102.png";
                                                      var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                      bounds.extend(pos);
                                                      marker = new google.maps.Marker({
                                                          position: pos,
                                                          map: map,
                                                          icon: image
                                                      });
                                                  }
                                                  google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                      return function () {
                                                          infowindow.setContent(markers[i][0]);
                                                          infowindow.open(map, marker);
                                                      }
                                                  })(marker, i));
                                              }
                                              map.fitBounds(bounds);
                                        
                                          }
                                    </script>
                                    <script src="~/Content/assets/js/locationpicker.jquery.js"></script>
                                    <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCuiUJxL3eVPwCyGdf1P6g9TUQ4KW95YtA" async defer></script>
                                </div>
                                <div class="col-md-6">
                                    <!-- Some <br /> tags to push the text to align with the image, you can remove it if you have more text on the right side :-) -->
                                    <h2 class="title"></h2>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">pin_drop</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Crea incidencias</h4>
                                            <p>Ingresa, selecciona una categoría y llena los demás datos, finalmente espera que un administrador verifique tu incidente para que los demás sepan que ocurre en la ciudad.</p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">person_add</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Regístrate</h4>
                                            <p>Crea tu cuenta ahora para poder crear tus incidencias y saber que sucede en la ciudad.</p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">poll</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Graficas de incidencias</h4>
                                            <p>Desde la aplicación móvil podrás saber cómo va el registro de incidencias de una colonia en específico, así como otras búsquedas que podrás realizar a través de ella.</p>
                                            <center>
                                                <a href="@(Model.tituloizquierda)" target="_blank" class="btn btn-danger btn-round">
                                                    <i class="material-icons">file_download</i> Descargar Aplicación 
                                                </a>
                                            </center>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--     *********     FEATURES 4      *********      -->
          

          
          
         

            <!--     *********     FEATURES 5      *********      -->
            <div class="features-5" style="background-image: url('../Imagenes/Sin título-1.jpg')" >
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Estadísticas de puntos creados</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3" style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/bache.png"  style="width:80px;height:80px;"/>
                                </div>
                                <h2 class="info-title">Baches</h2>
                                <h3 id="as" class="info-title"></h3>

                            </div>
                        </div>

                        <div class="col-sm-3" style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/rostro-de-perro.png" style="width:80px;height:80px;" />
                                </div>
                                <h2 class="info-title">Maltrato Animal</h2>
                                <h3 id="ac" class="info-title"></h3>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/silueta-del-icono-de-hogar.png" style="width:80px;height:80px;" />
                                </div>
                                <h2 class="info-title">Lotes Baldíos</h2>
                                <h3 id="aco" class="info-title"></h3>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/sirena.png" style="width:80px;height:80px;" />
                                </div>
                                <h2 class="info-title">Vandalismo</h2>
                                <h3 id="ap" class="info-title"></h3>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3"  style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/criminal.png" style="width:80px;height:80px;" />
                                </div>
                                <h2 class="info-title">Robo</h2>
                                <h3 id="asos" class="info-title"></h3>

                            </div>
                        </div>

                        <div class="col-sm-3"  style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/fuego(1).png" style="width:80px;height:80px;" />
                                </div>
                                <h2 class="info-title">Incendios</h2>
                                <h3 id="h" class="info-title"></h3>

                            </div>
                        </div>
                        <div class="col-sm-3"  style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/marcador-de-posicion.png" style="width:80px;height:80px;" />
                                </div>
                                <h2 class="info-title">Otros</h2>
                                <h3 id="o" class="info-title"></h3>

                            </div>
                        </div>
                        <div class="col-sm-3"  style="height:400px">
                            <div class="info">
                                <div class="icon">
                                    <img src="~/puntosimg/colision-de-coches.png" style="width:80px;height:80px;" />
                                </div>
                                <h2 class="info-title">Accidentes Automovilísticos</h2>
                                <h3 id="v" class="info-title"></h3>

                            </div>
                        </div>

                    </div>




                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <center><h3 class="title">Descarga los manuales de usuario y tecnico</h3></center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p class="text-muted">En ellos podrás encontrar toda la información referente al funcionamiento de la aplicación móvil y de la página web.</p>
                </div>
                <div class="col-md-3"></div>

            </div>
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-3">
                    <center>
                        <a href="@(Model.textoizquierda)" target="_blank" class="btn btn-danger btn-round">
                            <i class="material-icons">file_download</i> Manual tecnico
                        </a>
                    </center>
                    
                </div>
                <div class="col-md-3">
                    <center>
                        <a href="@(Model.tituloderecha)" target="_blank" class="btn btn-danger btn-round">
                            <i class="material-icons">file_download</i> Manual usuario
                        </a>
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br />
            <br />
            <div class="cards">
                <div class="container">
                    <div class="title">
                        <center><h2 class="title">Equipo de desarrollo</h2></center>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        
                                        <img class="img" src=@Url.Action("obtenern1", "VBackend") />
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h4 class="card-title">@(Model.nom1)</h4>
                                    <h6 class="category text-gray">@(Model.rol1)</h6>

                                    <div class="footer">
                                        @*<a href="@(Model.r1)" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                        <a href="@(Model.re1)" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                        <a href="@(Model.red1)" class="btn btn-just-icon btn-instagram btn-round"><i class="fa fa-instagram"></i></a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src=@Url.Action("obtenern2", "VBackend")  />
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h4 class="card-title">@(Model.nom2)</h4>
                                    <h6 class="category text-gray">@(Model.rol2)</h6>

                                    <div class="footer">
                                        @*<a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-instagram btn-round"><i class="fa fa-instagram"></i></a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src=@Url.Action("obtenern3", "VBackend")  />
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h4 class="card-title">@(Model.nom3)</h4>
                                    <h6 class="category text-gray">@(Model.rol3)</h6>

                                    <div class="footer">
                                        @*<a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-instagram btn-round"><i class="fa fa-instagram"></i></a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
           

            <div class="our-clients">
                <div class="title">
                    <center><h4 class="title"> Sitio creado con ayuda de:</h4></center>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img src="../Imagenes/bootstrap_logo.png" style="width: 100%; max-width: 140px; margin: 25px auto; display: inline-block;" />
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="../Imagenes/Creative-Tim-logo-5b8666f5.png" style="width: 100%; max-width: 140px; margin: 0 auto; display: inline-block;" />
                        </center>

                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="../Imagenes/logo UTM-01.png"  style="width: 100%; max-width: 140px; margin: 0 0 15px 0; display: inline-block;" />
                        </center>

                    </div>

                </div>
            </div>




        </div>



    </div>




    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                  
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script> <a href="#">Todo Protegido SOS</a>, lo mejor en seguridad
            </div>
        </div>
    </footer>





 
  
 
    <!--    end small modal -->
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
@using (Html.BeginForm("login", "todo_pro", FormMethod.Post))
{
    <div class="card card-signup card-plain">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>

            <div class="header header-primary text-center">
                <h4 class="card-title">Iniciar sesión </h4>
                <div class="social-line">

                </div>
            </div>
        </div>
        <div class="modal-body">
            <form class="form" method="" action="">

                <div class="card-content">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>

                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            @Html.TextBoxFor(x => x.nombre, new  { @class = "form-control", @type = "email", @id = "txt_nombre", @required="true" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Contraseña</label>
                            @Html.TextBoxFor(x => x.contraseña, new { @class = "form-control", @type = "password", @required = "true" })
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="modal-footer text-center">
            <button class="btn btn-primary" type="submit">Ingresar</button>  
        </div>
        <br />
    </div>
}           
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <!-- Register Modal -->
    
    <!--  End Modal -->
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("as", 0, @(Model.p2), 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("ac", 0, @(Model.p3), 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("aco", 0, @(Model.p4), 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("ap", 0, @(Model.p5), 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("asos", 0, @(Model.p6), 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("h", 0, @(Model.p7), 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("o", 0, @(Model.p1), 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("v", 0, @(Model.p8), 0, 10, options);
                demo.start();
    </script>

    <script>
     

    </script>

</body>
<!--   Core JS Files   -->
<script src="~/Content/assetsPRO/js/jquery.min.js"></script>
<script src="~/Content/assetsPRO/js/bootstrap.min.js"></script>
<script src="~/Content/assetsPRO/js/material.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="~/Content/assetsPRO/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/Content/assetsPRO/js/nouislider.min.js"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="~/Content/assetsPRO/js/bootstrap-datetimepicker.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/Content/assetsPRO/js/bootstrap-selectpicker.js"></script>


<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="~/Content/assetsPRO/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/Content/assetsPRO/js/jasny-bootstrap.min.js"></script>

<script src="~/Content/assetsPRO/js/material-kit.js"></script>

<!-- Fixed Sidebar Nav - JS For Demo Purpose, Don't Include it in your project -->
<script src="~/Content/assetsPRO/js/modernizr.js"></script>
<script src="~/Content/assetsPRO/js/vertical-nav.js"></script>


<script type="text/javascript">

		$(document).ready(function(){
			var slider = document.getElementById('sliderRegular');

	        noUiSlider.create(slider, {
	            start: 40,
	            connect: [true,false],
	            range: {
	                min: 0,
	                max: 100
	            }
	        });

	        var slider2 = document.getElementById('sliderDouble');

	        noUiSlider.create(slider2, {
	            start: [ 20, 60 ],
	            connect: true,
	            range: {
	                min:  0,
	                max:  100
	            }
	        });



			materialKit.initFormExtendedDatetimepickers();

		});
</script>



</html>


