@using Proyecto.BO;
@model usuarioBO
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Todo Protegido SOS</title>

    <script src="~/Content/assetsPRO/js/jquery-3.1.1.min.js"></script>


    <script src="~/Content/assetsPRO/js/countUp.min.js"></script>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!-- Canonical SEO -->
    <link rel="canonical" href="http://www.creative-tim.com/product/material-kit-pro" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/Content/assetsPRO/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assetsPRO/css/material-kit.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/assetsPRO/css/vertical-nav.css" rel="stylesheet" />
    <link href="~/Content/assetsPRO/css/demo.css" rel="stylesheet" />

</head>

<body class="index-page">
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll=" " id="sectionsNav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Todo Protegido S.O.S</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("IndexPro", "todo_pro")">
                            <i class="material-icons">person_add</i> Registrate
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#loginModal">
                            <i class="material-icons">person</i> Iniciar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header" filter-color="blue" data-parallax="true" style="background-image: url('../Imagenes/mapaheader.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>Todo Protegido S.O.S</h1>
                        <h3 class="title">Siempre cuidando de ti!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="main main-raised">

        <div class="cards">

            <div class="container">
                <div class="title">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="title">
                            <center><h2 class="title">@(Model.titulopresentacion)</h2></center>
                        </div>
                    </div>

                    <div class="col-md-8">

                        <div class="card-content">


                            <p class="text-muted">@Html.Raw(Model.textopresentacion)</p>


                            <center>
                                <h4 class="title">Así que únete hoy mismo y se parte de este gran proyecto!!!</h4>
                                <a  href="@Url.Action("IndexPro", "todo_pro")" class="btn btn-danger btn-round">
                                    <i class="material-icons">subject</i> Registrarse
                                </a>
                            </center>

                        </div>

                    </div>


                </div>
                <br />
                <br />
                <div class="section-components">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <h3 class="title">@Html.Raw(Model.tituloizquierda)</h3>
                                <h5 class="description">@Html.Raw(Model.textoizquierda)</h5>
                             
                                <center>
                                    <a href="#pablo" class="btn btn-danger btn-round">
                                        <i class="material-icons">subject</i> Descargar
                                    </a>
                                </center>

                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <div class="image-container">
                                    <img src="../Imagenes/content-test.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="section-components">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 ">
                                <div class="image-container">
                                    <img src="../Imagenes/components.jpg" />
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h3 class="title">@Html.Raw(Model.tituloderecha)</h3>

                                <h5 class="description">@Html.Raw(Model.textoderecha)</h5>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="section-gray">
                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">chat</i>
                                </div>

                                <h4 class="info-title">Usuarios registrados</h4>
                            </div>

                        </center>





                    </div>
                    <div class="col-md-6">
                        <center>
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">place</i>
                                </div>
                                <h3 id="counter2" class="info-title"></h3>
                                <h4 class="info-title">Puntos creados</h4>
                            </div>

                        </center>
                    </div>
                </div>

            </div>
            <br />
            <br />

            <!--     *********     FEATURES 5      *********      -->
         
            <div class="features-5" style="background-image: url('../Imagenes/uSfurk36A7zVjHL1uM219x1v.jpeg')">

                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Estadísticas de puntos creados</h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h2 class="info-title">Asalto de auto</h2>
                                <h3 id="as" class="info-title"></h3>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h2 class="info-title">Asalto de casa</h2>
                                <h3 id="ac" class="info-title"></h3>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h3 class="info-title">Asalto de comercio</h3>
                                <h3 id="aco" class="info-title"></h3>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h3 class="info-title">Asalto de persona</h3>
                                <h3 id="ap" class="info-title"></h3>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h2 class="info-title">Actividad sospechosa</h2>
                                <h3 id="asos" class="info-title"></h3>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h2 class="info-title">Homicidio</h2>
                                <h3 id="h" class="info-title"></h3>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h2 class="info-title">Otros</h2>
                                <h3 id="o" class="info-title"></h3>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h2 class="info-title">Vandalismo</h2>
                                <h3 id="v" class="info-title"></h3>

                            </div>
                        </div>

                    </div>




                </div>
            </div>
            <br />
            <br />

            <br />
            <br />
            <div class="cards">
                <div class="container">
                    <div class="title">
                        <center><h2 class="title">Equipo de desarrollo</h2></center>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img" src="../Imagenes/card-profile1.jpg"  />
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h4 class="card-title">@(Model.nom1)</h4>
                                    <h6 class="category text-gray">@(Model.rol1)</h6>

                                    <div class="footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i class="fa fa-google"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img" src="../Imagenes/card-profile1.jpg" />
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h4 class="card-title">@(Model.nom2)</h4>
                                    <h6 class="category text-gray">@(Model.rol2)</h6>

                                    <div class="footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i class="fa fa-google"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img" src="../Imagenes/card-profile1.jpg" />
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h4 class="card-title">@(Model.nom3)</h4>
                                    <h6 class="category text-gray">@(Model.rol3)</h6>

                                    <div class="footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i class="fa fa-google"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="contactus-1 section-image" style="background-image: url('assets/img/examples/city.jpg')">

                <div class="container">
                    <div class="row">
                        <div class="col-md-2">


                        </div>
                        <div class="col-md-8 ">
                            <div class="card card-contact">
                                <form role="form" id="contact-form" method="post">
                                    <div class="header header-raised header-primary text-center">
                                        <h4 class="card-title">Tienes alguna sugerencia?</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nombre</label>
                                                    <input type="text" name="name" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Correo Electronico</label>
                                            <input type="email" name="email" class="form-control" />
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Cuentanos tu seugerencia...</label>
                                            <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">

                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary pull-right">ENVIAR</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-md-2">


                        </div>
                    </div>
                </div>
            </div>

            <div class="our-clients">
                <div class="title">
                    <center><h4 class="title"> Sitio creado con ayuda de:</h4></center>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img src="../Imagenes/bootstrap_logo.png" style="width: 100%; max-width: 140px; margin: 25px auto; display: inline-block;" />
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="../Imagenes/Creative-Tim-logo-5b8666f5.png" style="width: 100%; max-width: 140px; margin: 0 auto; display: inline-block;" />
                        </center>

                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="../Imagenes/logo UTM-01.png"  style="width: 100%; max-width: 140px; margin: 0 0 15px 0; display: inline-block;" />
                        </center>

                    </div>

                </div>
            </div>




        </div>



    </div>




    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>, Creado con <i class="material-icons">favorite</i> por AAJ para una web mejor.
            </div>
        </div>
    </footer>





 
  
 
    <!--    end small modal -->
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
@using (Html.BeginForm("login", "todo_pro", FormMethod.Post))
{
    <div class="card card-signup card-plain">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>

            <div class="header header-primary text-center">
                <h4 class="card-title">Iniciar sesión </h4>
                <div class="social-line">

                </div>
            </div>
        </div>
        <div class="modal-body">
            <form class="form" method="" action="">

                <div class="card-content">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>

                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @type = "email", @id = "txt_nombre" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Contraseña</label>
                            @Html.TextBoxFor(x => x.contraseña, new { @class = "form-control", @type = "password" })
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="modal-footer text-center">
            <button class="btn btn-simple btn-primary btn-lg"> Iniciar Sesión</button>  
        </div>
        <br />
    </div>
}           
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <!-- Register Modal -->
    
    <!--  End Modal -->
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("as", 0, 4200, 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("ac", 0, 4200, 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("aco", 0, 4200, 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("ap", 0, 4200, 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("asos", 0, 4200, 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("h", 0, 4200, 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("o", 0, 4200, 0, 10, options);
                demo.start();
    </script>
    <script type="text/javascript">
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    prefix: '',
                    suffix: '+'
                };
                var demo = new CountUp("v", 0, 4200, 0, 10, options);
                demo.start();
    </script>



</body>
<!--   Core JS Files   -->
<script src="~/Content/assetsPRO/js/jquery.min.js"></script>
<script src="~/Content/assetsPRO/js/bootstrap.min.js"></script>
<script src="~/Content/assetsPRO/js/material.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="~/Content/assetsPRO/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/Content/assetsPRO/js/nouislider.min.js"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="~/Content/assetsPRO/js/bootstrap-datetimepicker.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/Content/assetsPRO/js/bootstrap-selectpicker.js"></script>


<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="~/Content/assetsPRO/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/Content/assetsPRO/js/jasny-bootstrap.min.js"></script>

<!-- Plugin For Google Maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPQibxeDaLIUHsC6_KqDdFaUdhrbhZ3M"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->


<script src="~/Content/assetsPRO/js/material-kit.js"></script>

<!-- Fixed Sidebar Nav - JS For Demo Purpose, Don't Include it in your project -->
<script src="~/Content/assetsPRO/js/modernizr.js"></script>
<script src="~/Content/assetsPRO/js/vertical-nav.js"></script>

<script type="text/javascript">

		$(document).ready(function(){
			var slider = document.getElementById('sliderRegular');

	        noUiSlider.create(slider, {
	            start: 40,
	            connect: [true,false],
	            range: {
	                min: 0,
	                max: 100
	            }
	        });

	        var slider2 = document.getElementById('sliderDouble');

	        noUiSlider.create(slider2, {
	            start: [ 20, 60 ],
	            connect: true,
	            range: {
	                min:  0,
	                max:  100
	            }
	        });



			materialKit.initFormExtendedDatetimepickers();

		});
</script>



</html>


